<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".dzc" mimeType="text/xml" />
            <mimeMap fileExtension=".dzi" mimeType="text/xml" />
        </staticContent>
    </system.webServer>
</configuration>
